@page "/titel"
@using BlazorSchulungApril.Data 
@inject IJSRuntime JSRuntime 
@inject PageTitelVM pagetitel
<h3>DocumentTitel</h3>
<button   @onclick="change">titel</button>
@pagetitel.Titel


@code {     

    protected override async Task OnInitializedAsync()
    {
        pagetitel.Titel = "wahnsinnig tollle";
        //  StateHasChanged();
        // await JSRuntime.InvokeVoidAsync("eval", "document.title='ppedv'"); //eval(document.title="ppedv")
    }
    void change()
    {
        pagetitel.Titel="yyyyyyyyyyyyyyyyy";
    }

}
