@page "/todo"
@using BlazorSchulungApril.Data
@inject AufgabenVM vm
<h3>ToDo  App</h3>

<div class="input-group mb-3">
    <input type="text" class="form-control" @bind="NeuAufgabe" @onkeyup="check4enter">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"  @onclick="save">Save</button>
    </div>
</div>

<ul class="list-group">
    @foreach (var item in vm.Aufgaben)
    {
        <li class="list-group-item">@item.Text </li>
    }
</ul>
@code {
    public string NeuAufgabe { get; set; }

    void save()
    {
        var a = new Aufgabe();
        a.ErledigtBis = DateTime.Now.AddDays(2);
        a.Text = NeuAufgabe;
        vm.Add(a);

    }

    protected override Task OnInitializedAsync()
    {
        vm.laden();
        return base.OnInitializedAsync();
    }

    void check4enter(KeyboardEventArgs e)
    {
        if (e.Key==ConsoleKey.Enter.ToString())
        {
            save();
        }
    }

}
