@page "/todo"
@using BlazorSchulungApril.Data 
@inject AufgabenVM vm
<h3>ToDo  App</h3>
<input class="form-control" @bind="NeuAufgabe"/>
<button class="btn btn-outline-primary" @onclick="save">save</button>



@code {
    public string NeuAufgabe { get; set; }

    void save()
    {
        var a = new Aufgabe();
        a.ErledigtBis = DateTime.Now.AddDays(2);
        a.Text = NeuAufgabe;
        vm.Add(a);

    }

    protected override Task OnInitializedAsync()
    {
        vm.laden();
        return base.OnInitializedAsync();
    }

}
